mixin icon(name)
  svg(class="icon icon-" + name)
    use(xlink:href="#icon-" + name)

doctype html
html(lang="ru-RU")
  head
    meta(charset="utf-8")
    block title
      title Huvilaranta
    meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
    link(rel="icon" type="image/png" href="img/favicon.png")

    link(rel="stylesheet" media="all" href="static/css/style.css")

    script(src="static/js/lib/jquery.js")
    script(src="static/js/lib/slick.min.js")
    script(src="static/js/common.js")

    //- script(src="static/js/app.min.js") - when finish
  body
    //BEGIN out
    block content
    //END out